<h2 class="title">Масштабы</h2>

<table>
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    <% @scales.each do |scale| %>
      <tr>
        <td><%= scale.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
