<% if can?(:export, Kit) %>
  <div class="dropdown is-hoverable is-right export-links">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Скачать выбранное</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <%= link_to 'Excel', kits_path(format: :xlsx), class: 'dropdown-item', target: :blank %>
        <%= link_to 'JSON', kits_path(format: :json), class: 'dropdown-item', target: :blank %>
        <%= link_to 'XML', kits_path(format: :xml), class: 'dropdown-item', target: :blank %>
      </div>
    </div>
  </div>
<% end %>
