<% if @kit.send(field).attached? %>
  <div class="columns">
    <div class="column">
      <%= form.file_field_input field %>
    </div>

    <div class="column">
      <%= image_tag(@kit.send(field).variant(resize: "#{dimensions}>")) %>
    </div>
  </div>
<% else %>
  <%= form.file_field_input field %>
<% end %>
