<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-primary">
      <p class="title">
        <%= link_to_if can?(:read, Kit), 'Модели', kits_path %>
      </p>
      <p class="subtitle">
        Просмотр каталога; изменение и добавление; экспорт в разных форматах для партнёров...
      </p>
    </div>
  </div>

  <div class="tile is-parent is-vertical">
    <div class="tile is-child notification is-warning">
      <p class="title">
        <%= link_to_if can?(:manage, User), 'Пользователи', users_path %>
      </p>
      <p class="subtitle">
        Добавление новых пользователей; изменение прав доступа...
      </p>
    </div>
  </div>
</div>
